@layer {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 90%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --card: 0 0% 96%;
    --card-foreground: 222.2 47.4% 11.2%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --modal: var(--background);
    --modal-foreground: var(--foreground);

    --border: 214.3 31.8% 91.4%;

    --input: var(--background);
    --input-foreground: var(--foreground);
    --input-border: var(--border);

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --progress: var(--muted);
    --progress-foreground: var(--foreground);

    --tab: var(--muted);
    --tab-foreground: var(--muted-foreground);
    --tab-active: var(--background);
    --tab-active-foreground: var(--foreground);

    --switch: var(--input);
    --switch-foreground: var(--background);
    --switch-checked: var(--primary);
    --switch-checked-foreground: var(--background);
  }
}
