@layer {
  :root {
    --radius-sm: 0.25rem;
    --radius-md: 0.5rem;
    --radius-lg: 1.25rem;
    --radius-button: var(--radius-sm);
    --radius-input: var(--radius-sm);
    --radius-card: var(--radius-lg);

    --shadow-sm: 0 2px 4px 0 rgba(58, 57, 57, 0.2);
    --shadow-md: 0 4.5px 4.5px 0 rgba(0, 0, 0, 0.25);
    --shadow-lg: 0 8px 16px rgba(57, 65, 77, 0.1);
    --shadow-card: 0 8px 16px red;

    --topbar-height: 3.5rem;
  }
}
