@import 'default-variables';
@import 'default-colors';
@import 'loading-dots';

body {
  @apply bg-background text-foreground;
  font-feature-settings:
    'rlig' 1,
    'calt' 1;
}

.absolute-centered {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

b,
strong {
  @apply font-bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.bg-background-blurred {
  @apply bg-background/80 backdrop-blur-md;
}

.mobile {
  @apply block sm:hidden;
}

.desktop {
  @apply hidden sm:block;
}

.expanded-button-max-width {
  @apply w-full sm:max-w-xs sm:mx-auto;
}

.icon-text-size {
  width: 1em;
  height: 1em;
}

.fade-out-text {
  mask-image: linear-gradient(
    to left,
    transparent 0%,
    white 10%,
    white 90%,
    transparent 100%
  );
}

/* *:focus {
  @apply outline-none;
}

*:focus-visible {
  @apply ring-offset-background ring-2 ring-ring ring-offset-2;
} */
