@layer {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --muted: 270deg 100% 95%;
    --muted-foreground: 238deg 20% 60%;

    --accent: 0 0% 96%;
    --accent-foreground: var(--foreground);

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;

    --border: 238deg 50% 90%;
    --input: var(--border);

    --card: var(--background);
    --card-foreground: var(--foreground);

    --primary: 238deg 98% 79%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 0%;
    --secondary-foreground: 0 0% 100%;

    --destructive: 360deg 85% 60%;
    --destructive-foreground: var(--foreground);

    --ring: 238deg 98% 92%;

    --radius-button: 9999px;

    --background-image: 'https://cdn.prod.website-files.com/668305401cfcb4e5f9ef0ede%2F669800d2eb0bf30296e0d0c6_Cloth_02_%28light_theme%29-poster-00001.jpg';
  }
}
